In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('imdb.csv')
df

      id                                       name   genre  year imdb_rating
0      1                                     Avatar  action  2009         7.9
1      2                             Jurassic World  action  2015         7.3
2      3                               The Avengers  action  2012         8.1
3      4                            The Dark Knight  action  2008         9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6
..   ...                                        ...     ...   ...         ...
215  216                                   Hannibal   drama  2001         6.7
216  217                        Catch Me If You Can   drama  2002         8.0
217  218                                  Big Daddy   drama  1999         6.4
218  219                                      Se7en   drama  1995         8.6
219  220                                      Seven   drama  1979         6.1

[220 rows x 5 columns]

In [10]:
df[(df['year']>2012) & (df['genre']== 'action')] # elegir películas posteriores al año 2012 y de género acción. si ponemos el signo | significa "o". hará que se cumpla una cosa o la otra.

    id                                 name   genre  year imdb_rating
1    2                       Jurassic World  action  2015         7.3
6    7              Avengers: Age of Ultron  action  2015         7.9
9   10                           Iron Man 3  action  2013         7.3
15  16                      American Sniper  action  2014         7.4
16  17                        Furious Seven  action  2015         7.4
18  19              Guardians of the Galaxy  action  2014         8.1
30  31                         Man of Steel  action  2013         7.2
35  36  Captain America: The Winter Soldier  action  2014         7.8
36  37                       The Lego Movie  action  2014         7.8
40  41      Transformers: Age of Extinction  action  2014         5.8
42  43                           Maleficent  action  2014         7.0
44  45                     Fast & Furious 6  action  2013         7.2
47  48           X-Men: Days of Future Past  action  2014         8.1
49  50              Star Trek Into Darkness  action  2013         7.8

### ver si están en la lista las películas star Wars y Blade

In [17]:
dfsel=df[df['name'].isin(['Star Wars', 'Blade', 'Iron Man 3'])]   # con el comando isin() busca las películas que le decimos.
dfsel

      id        name   genre  year imdb_rating
5      6   Star Wars  action  1977         8.7
9     10  Iron Man 3  action  2013         7.3
137  138       Blade  horror  1998         7.1

### ordenar el índice, para que no haya saltos

In [18]:
dfsel.reset_index(drop=True) # así riniciamos el índice desde 0 y al poner drop=True, elimina la columna de index que genera pandas automaticamente.

    id        name   genre  year imdb_rating
0    6   Star Wars  action  1977         8.7
1   10  Iron Man 3  action  2013         7.3
2  138       Blade  horror  1998         7.1